/* MindCare.css */
.mind-care-container {
  font-family: 'Arial', sans-serif;
  width: 100%;
  max-width: 90%; /* Limit the maximum width */
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  background-color: #f9f9f9;
}

.heading {
  color: #1d3f72;
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
  flex: 1;
}

.back-button {
  font-size: 1.5rem;
  color: #1d3f72;
  cursor: pointer;
  margin-right: 15px;
}

.back-button:hover {
  color: #4996a2;
}


.condition-selection, .question-display, .analysis-display, .chat-history {
  margin-bottom: 20px;
}

.condition-selection {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  background-color: #f9f9f9;
}

.btnq {
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  background-color: #1d3f72;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  font-size: 16px; /* Increase font size for better readability */
}

.message-bubble {
  max-width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  color: white;
}

.user {
  background-color: #1d3f72; /* Dark blue for user messages */
  align-self: flex-end;
}

.bot {
  background-color: #7fafd6; /* Light blue for bot messages */
  align-self: flex-start;
}

.chat-history {
  display: flex;
  flex-direction: column;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .mind-care-container {
      width: 95%; /* Increase container width for smaller screens */
      padding: 15px;
  }

  .btnq {
      padding: 8px 12px;
      font-size: 14px; /* Reduce font size for smaller screens */
      margin: 3px;
  }

  .message-bubble {
      max-width: 90%; /* Adjust width for smaller screens */
  }
}

@media (max-width: 480px) {
  .mind-care-container {
      width: 100%;
      padding: 10px;
  }

  .heading {
      font-size: 18px; /* Smaller font size for the heading */
      margin-bottom: 15px;
  }

  .btnq {
      padding: 6px 10px;
      font-size: 12px; /* Smaller font size for buttons */
      margin: 2px;
  }

  .message-bubble {
      max-width: 95%; /* Further adjust width for very small screens */
  }
}

.analysis-display { 
  text-align: justify;
}
